.DS_Store
.dart_tool/
.packages
.pub/
.idea/
build/
.flutter-plugins
*.iml
pubspec.lock
*.reflectable.dart
android/.gitignore
ios/.gitignore
android/local.properties
android/app/src/main/kotlin
ios/
test/
linux/
macos/
web/
windows/
android/
